Data Extraction And Loading/Program Files/22 - Special/SpecialSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EnterpriseDocument" type="EnterpriseDocumentType"/>
	<xs:complexType name="EnterpriseDocumentType">
		<xs:annotation>
			<xs:documentation>Manage Specials Import Schema</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RetailerReference" type="ClientReferenceType"/>
			<xs:element name="SpecialList" type="SpecialListType" minOccurs="0"/>
			<xs:element name="SpecialAssignmentList" type="SpecialAssignmentListType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="InterfaceName" type="InterfaceNameType" use="required"/>
		<xs:attribute name="Version" type="VersionType" use="required"/>
		<xs:attribute name="CreationTimestamp" type="xs:dateTime" use="required">
			<xs:annotation>
				<xs:documentation source="Datetime format yyyy-mm-ddThh:mm:ss is acceptable."/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CreationSource" type="String_50" use="required"/>
	</xs:complexType>
	<!--Enterprise Document Attribute Definitons-->
	<xs:complexType name="ClientReferenceType">
		<xs:annotation>
			<xs:documentation>Used to identify the client</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ClientName" type="String_50" use="optional"/>
		<xs:attribute name="ClientIdentifierType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ClientID"/>
					<xs:enumeration value="EDINumber"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ClientIdentifier" type="String_255" use="required"/>
	</xs:complexType>
	<xs:complexType name="SpecialListType">
		<xs:annotation>
			<xs:documentation>A special is based on items contained in a retail item group.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Special" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="SpecialType"/>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialType">
		<xs:annotation>
			<xs:documentation>The data to define the special.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="QualifierList" type="QualifierListType"/>
		</xs:sequence>
		<xs:attribute name="specialName" type="String_50" use="required"/>
		<xs:attribute name="specialXRefID" type="String_255" use="required"/>
		<xs:attribute name="specialReceiptText" type="String_30" use="optional">
			<xs:annotation>
				<xs:documentation source="If XML doesn't contain specialReceiptText then this is defaulted to specialName."/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="priorityRanking" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:int">
					<xs:minInclusive value="0"/>
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="requiresLoyalty" type="FlagType" use="optional"/>
		<xs:attribute name="startDate" type="CustomDate" use="optional">
			<xs:annotation>
				<xs:documentation source="The start date is not required; if it's omitted, it will be defaulted to the import date."/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="endDate" type="CustomDate" use="optional">
			<xs:annotation>
				<xs:documentation source="The inclusion of an end date indicates a temporary special."/>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="status" type="StatusType" use="optional" default="Active"/>
	</xs:complexType>
	<xs:complexType name="QualifierListType">
		<xs:annotation>
			<xs:documentation>The data to define what qualifies the special.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Qualifier" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="QualifierType">
							<xs:choice>
								<xs:element name="RetailModifiedItemList" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RetailModifiedItem" maxOccurs="unbounded">
												<xs:complexType>
													<xs:attribute name="itemExternalID" type="String_255" use="required"/>
													<xs:attribute name="retailItemPackExternalID" type="String_255" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="RetailItemGroupList" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="RetailItemGroup" maxOccurs="unbounded">
												<xs:complexType>
													<xs:attribute name="retailItemGroupName" type="String_50" use="required"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="QualifierType">
		<xs:annotation>
			<xs:documentation>The SpecialQualifier is based on MinQuantity OR MinAmount.  When creating a special, the user must determine if there'll be a minimum quantity of items or  dollar amount that must be purchased to qualify for the special.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="retailItemGroupName" type="String_50" use="required"/>
		<xs:attribute name="minimumIdentifier" type="MinimumType" use="required"/>
		<xs:attribute name="minimumValue" type="CustomDecimal" use="required"/>
		<xs:attribute name="discountType" type="DiscountIdentifierType" use="required"/>
		<xs:attribute name="discountValue" type="CustomDecimal2" use="required"/>
		<xs:attribute name="taxReduced" type="FlagType" use="optional">
			<xs:annotation>
				<xs:documentation source="TaxReduced is only applicable when client is configured to use VAT."/>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="SpecialAssignmentListType">
		<xs:annotation>
			<xs:documentation>Contains a list specials that will be assigned to business units.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SpecialAssignment" type="SpecialAssignmentType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SpecialAssignmentType">
		<xs:sequence>
			<xs:element name="BusinessUnitList" type="BusinessUnitListType"/>
		</xs:sequence>
		<xs:attribute name="specialIdentifier" type="String_255" use="required"/>
	</xs:complexType>
	<xs:complexType name="BusinessUnitListType">
		<xs:annotation>
			<xs:documentation>Contains a list of business units this special will be assigned to.  </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BusinessUnit" type="BusinessUnitType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessUnitType">
		<xs:attribute name="businessUnitIdentifier" type="String_255" use="required"/>
		<xs:attribute name="assign" type="FlagType" use="required"/>
	</xs:complexType>
	<!--Miscellaneous Type Definitions-->
	<xs:simpleType name="InterfaceNameType">
		<xs:annotation>
			<xs:documentation>ManageSpecialsImport</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="ManageSpecialsImport"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomDate">
		<xs:annotation>
			<xs:documentation>Date format yyyy-mm-dd.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:maxInclusive value="2075-12-31"/>
			<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DiscountIdentifierType">
		<xs:annotation>
			<xs:documentation>The type of discount that will be applied.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Percent Discount"/>
			<xs:enumeration value="Price Discount"/>
			<xs:enumeration value="Set Retail"/>
			<xs:enumeration value="Price Rollback"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FlagType">
		<xs:annotation>
			<xs:documentation>Flag setting of y or n.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="y"/>
			<xs:enumeration value="n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MinimumType">
		<xs:annotation>
			<xs:documentation>Minimum value type to receive a discount.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Quantity"/>
			<xs:enumeration value="Amount"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="OrgIdentifierValue">
		<xs:annotation>
			<xs:documentation>Value for org unit identification.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Name"/>
			<xs:enumeration value="ID"/>
			<xs:enumeration value="EDINumber"/>
			<xs:enumeration value="Code"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_30">
		<xs:annotation>
			<xs:documentation>Thirty maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_50">
		<xs:annotation>
			<xs:documentation>Fifty maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="String_255">
		<xs:annotation>
			<xs:documentation>255 maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="VersionType">
		<xs:annotation>
			<xs:documentation>Versions allowed for schema</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0.0"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomDecimal">
		<xs:annotation>
			<xs:documentation>Decimal formatted value of 16:4.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="4"/>
			<xs:totalDigits value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CustomDecimal2">
		<xs:annotation>
			<xs:documentation>Decimal formatted value of 6:2.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:fractionDigits value="2"/>
			<xs:totalDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StatusType">
		<xs:annotation>
			<xs:documentation>Indicates the status of the special.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Active"/>
			<xs:enumeration value="Inactive"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema> 