Data Extraction And Loading/Program Files/12 - Retail Item/ItemImportSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:schemaLocation="http://www.w3.org/2001/XMLSchema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="EnterpriseDocument">
		<xs:annotation>
			<xs:documentation>General Merchandise Item Import</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="HeaderType">
					<xs:sequence>
						<xs:element name="RetailerReference" type="RetailerReferenceType"/>
						<xs:element name="ItemList" type="ItemListType">
							<xs:unique name="UniqueExternalID">
								<xs:selector xpath="Item"/>
								<xs:field xpath="@ItemExternalID"/>
							</xs:unique>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="HeaderType">
		<xs:annotation>
			<xs:documentation>Header information.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="InterfaceName" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ItemImport"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="Version" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:token">
					<xs:enumeration value="1.0"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="CreationSource" type="xs:string" use="required"/>
		<xs:attribute name="CreationTimestamp" type="xs:dateTime" use="required"/>
	</xs:complexType>
	<xs:complexType name="RetailerReferenceType">
		<xs:annotation>
			<xs:documentation>This node is used to identify the client for import</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ClientName" type="NameType" use="optional"/>
		<xs:attribute name="ClientIdentifierType" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="ClientID"/>
					<xs:enumeration value="EDINumber"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ClientIdentifier" type="ExtendedNameType" use="required"/>
	</xs:complexType>
	<xs:complexType name="ItemListType">
		<xs:sequence>
			<xs:element name="Item" maxOccurs="unbounded">
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="GeneralInformationType">
							<xs:sequence>
								<xs:annotation>
									<xs:documentation>The following attributes are for general merchandise items only.  (This data is not populated for Not Sold items.)</xs:documentation>
								</xs:annotation>
								<xs:element name="UOMConversionList" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="UOMConversion" type="UOMConversionType" maxOccurs="2"/>
										</xs:sequence>
									</xs:complexType>
									<xs:unique name="UniqueConvertToUOM">
										<xs:selector xpath="UOMConversion"/>
										<xs:field xpath="@ConvertToUOM"/>
									</xs:unique>
								</xs:element>
								<xs:element name="Tracking" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="TrackingType">
												<xs:sequence>
													<xs:element name="TrackingUOMList" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="UnitOfMeasure" type="TrackingUOMType" maxOccurs="unbounded"/>
															</xs:sequence>
														</xs:complexType>
														<xs:unique name="UniqueUOM">
															<xs:selector xpath="UnitOfMeasure"/>
															<xs:field xpath="@UnitOfMeasureName"/>
														</xs:unique>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="ItemGroupList" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="ItemGroup" type="ItemGroupType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
									<xs:unique name="UniqueItemGroup">
										<xs:selector xpath="ItemGroup"/>
										<xs:field xpath="@ItemGroupName"/>
									</xs:unique>
								</xs:element>
								<xs:element name="StorageLocationList" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="Location" type="LocationsType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
									<xs:unique name="UniqueStorageLocation">
										<xs:selector xpath="Location"/>
										<xs:field xpath="@StorageLocationName"/>
									</xs:unique>
								</xs:element>
								<xs:element name="SupplierItemList" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="SupplierItem" type="SupplierItemType" maxOccurs="unbounded"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="RetailPacks" minOccurs="0">
									<xs:complexType>
										<xs:complexContent>
											<xs:extension base="RetailPacksType">
												<xs:sequence minOccurs="0">
													<xs:element name="RetailPackList">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="RetailPack" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:complexContent>
																			<xs:extension base="PacksType">
																				<xs:sequence minOccurs="0">
																					<xs:element name="BarcodeList" minOccurs="0">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="Barcode" type="BarcodeType" maxOccurs="unbounded"/>
																							</xs:sequence>
																						</xs:complexType>
																						<xs:unique name="UniqueBarcodeNumber">
																							<xs:selector xpath="Barcode"/>
																							<xs:field xpath="@Number"/>
																						</xs:unique>
																					</xs:element>
																					<xs:element name="Dimensions" type="DimensionsType" minOccurs="0"/>
																					<xs:element name="CustomAttributeList" minOccurs="0">
																						<xs:complexType>
																							<xs:sequence>
																								<xs:element name="Attribute" type="AttributeType" maxOccurs="unbounded"/>
																							</xs:sequence>
																						</xs:complexType>
																					</xs:element>
																					<xs:element name="RetailPrice" type="RetailsType" minOccurs="0"/>
																				</xs:sequence>
																			</xs:extension>
																		</xs:complexContent>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
														<xs:unique name="UniquePackQty">
															<xs:selector xpath="RetailPack"/>
															<xs:field xpath="@PackQty"/>
														</xs:unique>
													</xs:element>
												</xs:sequence>
											</xs:extension>
										</xs:complexContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="POSItem" minOccurs="0">
									<xs:complexType>
										<xs:sequence>
											<xs:element name="POSConfiguration" type="POSConfigurationType" minOccurs="0"/>
											<xs:element name="POSDisplay" type="POSDisplayType" minOccurs="0"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GeneralInformationType">
		<xs:annotation>
			<xs:documentation>The primary identifier for the item is the external ID.  This value must be unique.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="SoldAs" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="g">
						<xs:annotation>
							<xs:documentation>g stands for general merchandise item</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="n">
						<xs:annotation>
							<xs:documentation>n stands for not sold item</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ItemExternalID" type="ExtendedNameType" use="required"/>
		<xs:attribute name="ItemName" type="NameType" use="required"/>
		<xs:attribute name="ItemDescription" type="ExtendedNameType" use="optional"/>
		<xs:attribute name="Category" type="NameType" use="required"/>
		<xs:attribute name="BaseUOMClass" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Weight"/>
					<xs:enumeration value="Volume"/>
					<xs:enumeration value="Count"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ReportedInUOM" type="NameType" use="optional"/>
		<xs:attribute name="Brand" type="NameType" use="optional"/>
		<xs:attribute name="Manufacturer" type="NameType" use="optional"/>
		<xs:attribute name="SKUNumber" type="ExtendedNameType" use="optional"/>
		<xs:attribute name="Taxability" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Use Category Setting"/>
					<xs:enumeration value="Taxable"/>
					<xs:enumeration value="Non-taxable"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="StandardCost" type="MoneyType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="UOMConversionType">
		<xs:annotation>
			<xs:documentation>Create a relationship between unit of measures in a different class.  The classes are count, weight, and volume.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ConvertFromUOMQty" type="DecimalType" use="required"/>
		<xs:attribute name="ConvertFromUOMName" type="NameType" use="required"/>
		<xs:attribute name="ConvertToUOMQty" type="DecimalType" use="required"/>
		<xs:attribute name="ConvertToUOMClass" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Count"/>
					<xs:enumeration value="Weight"/>
					<xs:enumeration value="Volume"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="ConvertToUOMName" type="NameType" use="required"/>
	</xs:complexType>
	<xs:complexType name="TrackingType">
		<xs:annotation>
			<xs:documentation>Tracking information is optional; it's used for inventory counting.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Active" type="FlagType" use="optional"/>
		<xs:attribute name="Track" type="FlagType" use="optional"/>
		<xs:attribute name="ExpenseUponReceiving" type="FlagType" use="optional"/>
		<xs:attribute name="AllowFractionalQuantities" type="FlagType" use="optional"/>
		<xs:attribute name="SetVarianceToZero" type="FlagType" use="optional"/>
		<xs:attribute name="WasteTolerance" type="ToleranceValueType" use="optional"/>
		<xs:attribute name="MissingTolerance" type="ToleranceValueType" use="optional"/>
		<xs:attribute name="DefaultAdjustmentUOM" type="NameType" use="optional"/>
		<xs:attribute name="DefaultTransferUOM" type="NameType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="TrackingUOMType">
		<xs:annotation>
			<xs:documentation>Inventory counts can be taken by several different UOM methods.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="UnitOfMeasureName" type="NameType" use="required"/>
		<xs:attribute name="UnitOfMeasureQty" type="DecimalType" use="required"/>
		<xs:attribute name="TrackingAction" type="ActionType" use="optional" default="Add"/>
	</xs:complexType>
	<xs:complexType name="ItemGroupType">
		<xs:annotation>
			<xs:documentation>Item groups allow you to group items with similar characteristics together for tracking purposes.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="GroupName" type="NameType" use="required"/>
		<xs:attribute name="ItemGroupAction" type="ActionType" use="optional" default="Add"/>
	</xs:complexType>
	<xs:complexType name="LocationsType">
		<xs:annotation>
			<xs:documentation>This lists where the item will be stored, i.e. front of store or back of store.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="StorageLocationName" type="NameType" use="required"/>
		<xs:attribute name="LocationAction" type="ActionType" use="optional" default="Add"/>
	</xs:complexType>
	<xs:complexType name="SupplierItemType">
		<xs:annotation>
			<xs:documentation>Allow listed supplier items to be linked to the inventory.  The supplier item must exist prior to the import.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SuggestedRetailList" type="SuggestedRetailListType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="SupplierIdentifier" type="ExtendedNameType" use="required"/>
		<xs:attribute name="SupplierItemIdentifier" type="ExtendedNameType" use="required"/>
		<xs:attribute name="LinkAction" type="ActionType" use="optional" default="Add"/>
	</xs:complexType>
	<xs:complexType name="SuggestedRetailListType">
		<xs:sequence>
			<xs:element name="SuggestedRetail" type="SuggestedRetailType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SuggestedRetailType">
		<xs:attribute name="CostLevel" type="NameType" use="required"/>
		<xs:attribute name="RetailPackQuantity" type="xs:nonNegativeInteger" use="required"/>
		<xs:attribute name="SuggestedRetailPrice" type="MoneyType" use="required"/>
	</xs:complexType>
	<xs:complexType name="RetailPacksType">
		<xs:annotation>
			<xs:documentation>Contains special instructions for when the item is sold.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="RetailStrategy" type="Name126Type" use="optional"/>
		<xs:attribute name="PromptForQtyAtPOS" type="FlagType" use="optional"/>
		<xs:attribute name="AutoQueueShelfLabels" type="FlagType" use="optional"/>
		<xs:attribute name="RequiresSwipeAtPOS" type="FlagType" use="optional"/>
		<xs:attribute name="CreditCategoryCode" use="optional">
			<xs:simpleType>
				<xs:union>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:length value="4"/>
						</xs:restriction>
					</xs:simpleType>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Use Category Setting"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:union>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="UnitPriceUOMForShelfLabel" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="None"/>
					<xs:enumeration value="kGram"/>
					<xs:enumeration value="Liter"/>
					<xs:enumeration value="mLiter"/>
					<xs:enumeration value="Each"/>
					<xs:enumeration value="Meter"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="PacksType">
		<xs:annotation>
			<xs:documentation>Lists the available packages for the item.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="PackName" type="Name30Type" use="required"/>
		<xs:attribute name="PackQty" type="xs:positiveInteger" use="required"/>
		<xs:attribute name="RetailLevelGroup" type="Name126Type" use="optional"/>
		<xs:attribute name="RetailItemPackExternalID" type="ExtendedNameType" use="optional"/>
		<xs:attribute name="ShelfLabelPrintQty" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger"/>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="POSPrintPriority" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:positiveInteger">
					<xs:maxInclusive value="999"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="RetailPackAction" type="ActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="BarcodeType">
		<xs:annotation>
			<xs:documentation>There are four barcode types: c = custom, e = EAN, g = GTIN-UUC-14, and u = UPC.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="BarcodeTypeCode" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="c"/>
					<xs:enumeration value="e"/>
					<xs:enumeration value="g"/>
					<xs:enumeration value="u"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BarcodeNumber" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:integer">
					<xs:totalDigits value="128"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="BarcodeAction" type="ActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="DimensionsType">
		<xs:annotation>
			<xs:documentation>This contains the dimensions of the retail pack.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Height" type="Decimal28_10Type" use="required"/>
		<xs:attribute name="Length" type="Decimal28_10Type" use="required"/>
		<xs:attribute name="Width" type="Decimal28_10Type" use="required"/>
		<xs:attribute name="Measure" use="required">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="cm"/>
					<xs:enumeration value="in"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation>This allows custom attributes to be created for each retail pack</xs:documentation>
		</xs:annotation>
		<xs:attribute name="Name" type="NameType" use="required"/>
		<xs:attribute name="Value" type="ExtendedNameType" use="required"/>
		<xs:attribute name="Action" type="ActionType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="RetailsType">
		<xs:annotation>
			<xs:documentation>Initial pricing for each retail modified item can be created.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ListRetail" type="MoneyType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POSConfigurationType">
		<xs:annotation>
			<xs:documentation>General POS data for the item</xs:documentation>
		</xs:annotation>
		<xs:attribute name="DiscountGroup" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="All Discounted Items"/>
					<xs:enumeration value="Non-Discountable Items"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="SecurityAction" type="POSActionType" use="optional"/>
		<xs:attribute name="PriceOverride" type="POSActionType" use="optional"/>
		<xs:attribute name="TenderRestriction" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="No Restriction"/>
					<xs:enumeration value="Level 1"/>
					<xs:enumeration value="Level 2"/>
					<xs:enumeration value="Level 3"/>
					<xs:enumeration value="Level 4"/>
					<xs:enumeration value="Level 5"/>
					<xs:enumeration value="Level 6"/>
					<xs:enumeration value="Level 7"/>
					<xs:enumeration value="Level 8"/>
					<xs:enumeration value="Level 9"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="DeviceGroup" type="NameType" use="optional"/>
		<xs:attribute name="ReceiptText" type="Name30Type" use="optional"/>
		<xs:attribute name="CancelItemNotAllowed" type="FlagType" use="optional"/>
	</xs:complexType>
	<xs:complexType name="POSDisplayType">
		<xs:annotation>
			<xs:documentation>General POS data for the item</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ButtonText" type="Name30Type" use="optional"/>
		<xs:attribute name="TextColor" type="ColorType" use="optional"/>
		<xs:attribute name="Image" type="ExtendedNameType" use="optional"/>
		<xs:attribute name="Background" type="ColorType" use="optional"/>
		<xs:attribute name="ReceiptNavigation" type="Name30Type" use="optional"/>
	</xs:complexType>
	<xs:simpleType name="FlagType">
		<xs:annotation>
			<xs:documentation>Flag setting of y or n.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="y"/>
			<xs:enumeration value="n"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ToleranceValueType">
		<xs:annotation>
			<xs:documentation>Waste and Missing tolerances are negative values.  An empty value (empty attribute) will remove the tolerance from the item.</xs:documentation>
		</xs:annotation>
		<xs:union>
			<xs:simpleType>
				<xs:restriction base="xs:decimal">
					<xs:minInclusive value="-1000"/>
					<xs:maxInclusive value="0"/>
					<xs:fractionDigits value="4"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value=""/>
				</xs:restriction>
			</xs:simpleType>
		</xs:union>
	</xs:simpleType>
	<xs:simpleType name="NameType">
		<xs:annotation>
			<xs:documentation>Fifty maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="50"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="POSActionType">
		<xs:annotation>
			<xs:documentation>Indicates security level at the POS</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="None"/>
			<xs:enumeration value="Low"/>
			<xs:enumeration value="Medium"/>
			<xs:enumeration value="High"/>
			<xs:enumeration value="Very High"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ActionType">
		<xs:annotation>
			<xs:documentation>Indicates if the data point should be added or deleted</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Add"/>
			<xs:enumeration value="Delete"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DecimalType">
		<xs:annotation>
			<xs:documentation>Decimal formatting of 14:6</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="14"/>
			<xs:fractionDigits value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Decimal28_10Type">
		<xs:annotation>
			<xs:documentation>Decimal formatting of 28:10</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="28"/>
			<xs:fractionDigits value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MoneyType">
		<xs:annotation>
			<xs:documentation>Decimal formatting of 10:4</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="10"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ColorType">
		<xs:annotation>
			<xs:documentation>A range of color allowed for POS text or button coloring.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Black"/>
			<xs:enumeration value="Blue"/>
			<xs:enumeration value="Brown"/>
			<xs:enumeration value="Burgundy"/>
			<xs:enumeration value="Dark Blue"/>
			<xs:enumeration value="Dark Green"/>
			<xs:enumeration value="Gold"/>
			<xs:enumeration value="Gray"/>
			<xs:enumeration value="Light Blue"/>
			<xs:enumeration value="Light Gray"/>
			<xs:enumeration value="Light Green"/>
			<xs:enumeration value="Light Yellow"/>
			<xs:enumeration value="Orange"/>
			<xs:enumeration value="PCS Blue"/>
			<xs:enumeration value="PCS Grey"/>
			<xs:enumeration value="PCS Purple"/>
			<xs:enumeration value="PCS Tender Green"/>
			<xs:enumeration value="PCS Yellow"/>
			<xs:enumeration value="Pink"/>
			<xs:enumeration value="Purple"/>
			<xs:enumeration value="Red"/>
			<xs:enumeration value="Salmon"/>
			<xs:enumeration value="Silver"/>
			<xs:enumeration value="Violet"/>
			<xs:enumeration value="White"/>
			<xs:enumeration value="White - Bright"/>
			<xs:enumeration value="Yellow"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ExtendedNameType">
		<xs:annotation>
			<xs:documentation>255 maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="255"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name126Type">
		<xs:annotation>
			<xs:documentation>126 maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="126"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Name30Type">
		<xs:annotation>
			<xs:documentation>126 maximum character string.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>